.logo {
	color:  #ffffff;
	font: normal 40px 'Cookie', cursive;
	margin: 0;
}

.logo span{
	color:  #5383d3;
}

.logo-header {
	font: normal 48px 'Cookie', cursive;
	margin: 0;
	color: #292c2f;
}

.paggind-off {
	padding: 0 0 0 0;
}

.margin-off {
	margin: 0 0 0 0;
}

.img-fixed {
	max-height: 300px;
	max-width: 300px;
}
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;

}
.navbar-footer 
{
    background-color:#DDD;
}
.navbar-footer-content { padding:15px 15px 15px 15px; }
.dropdown-menu {
padding: 0px;
overflow: hidden;
}

.icon-size
{
    font-size: 87px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container-footer {
  padding: 60px 15px 0;
}
.container-footer .text-muted {
  margin: 20px 0;
}

.footer > .container-footer {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
