{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}CompartoSkill.com Streaming web app{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer-distributed-with-address-and-phones.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block header %}{% endblock %}
</head>
<body>

{% if request.user.is_authenticated %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container"> 
		<div class="navbar-header logo">
            <a class="navbar-brand" href="{% url 'home' %}">
                <big>Comparto<span>Skill</span></big>
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span>
                        <strong>{{ request.user }}</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            <span class="glyphicon glyphicon-user icon-size"></span>
                                        </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="text-left"><strong>{{ request.user }}</strong></p>
                                        <p class="text-left small">{{ request.user.email }}</p>
                                        <p class="text-left">
                                            <a href="{% url 'logout' %}" class="btn btn-danger btn-block btn-sm">Salir</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider navbar-login-session-bg"></li>
                        <li class="navbar-login-session-bg">
                            <div class="navbar-login navbar-login-session">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>
                                            <a href="{% url 'create-streaming' %}" class="btn btn-primary btn-block">Crear Streaming</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% else %}
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header logo">
            <a class="navbar-brand" href="{% url 'home' %}">
                <big>Comparto<span>Skill</span></big>
            </a>
        </div>
        <div class="navbar-right">
        	<a href="{% url 'create-streaming' %}"><button type="button" class="btn btn-primary navbar-btn">Crear Streaming</button></a>
        	<a href="{% url 'login' %}"><button type="button" class="btn btn-success navbar-btn">Iniciar</button></a>
        </div>
    </div>
</nav>
{% endif %}

{% for message in messages %}
    {% if message.level_tag == "info" %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
    {% elif message.level_tag == "success" %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% elif message.level_tag == "warning" %}
        <div class="alert alert-warning" role="alert">{{ message }}</div>
    {% elif message.level_tag == "error" %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endif %}
{% endfor %}

<div class="container">
    {% block content %}{% endblock %}
</div>

<br>
<footer class="footer-distributed">
	<div class="footer-left">
		<h3><span>By Virtuososcode</span></h3>
		<p class="footer-links">
			<a href="https://virtuososcode.com">Home</a>
			·
			<a href="https://virtuososcode.com/team">El equipo</a>
			·
			<a href="https://virtuososcode.com/services">Servicios</a>
			·
			<a href="https://virtuososcode.com/vacantes">Vacantes</a>
		</p>
		<div class="footer-icons">
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-linkedin"></i></a>
			<a href="#"><i class="fa fa-github"></i></a>
		</div>
		<p class="footer-company-name">Virtuososcode &copy; 2016</p>
	</div>
	<div class="footer-center">
		<div>
			<i class="fa fa-map-marker"></i>
			<p><span>Calle Revolución #21 Col. Americana</span> Guadalajara, Jalisco</p>
		</div>
		<div>
			<i class="fa fa-phone"></i>
			<p>+521 3319441828</p>
		</div>
		<div>
			<i class="fa fa-envelope"></i>
			<p><a href="mailto:hola@virtuososcode.com">hola@virtuososcode.com</a></p>
		</div>
	</div>
	<div class="footer-right">
		<p class="footer-company-about">
			<span>Acerca de nosotros</span>
			Virtuososcode, somos un grupo de desarolladores <strong>fullstack</strong>, proporcionamos a nuestros clientes soluciones profesionales
			en aplicaciones y portales web usamos tecnologías estables y de alto rendimiento como Angular, ES6, NodeJS, Django, Ruby on Rails y Bootstrap.
		</p>
	</div>
</footer>
{% block footer %}{% endblock %}

{% block scripts %}{% endblock %}

</body>
</html>