{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}VirtuososCode Streaming web app{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer-distributed-with-address-and-phones.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block header %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header logo">
            <a class="navbar-brand" href="{% url 'home' %}">
                <big><span>VC</span> Streaming-app</big>
            </a>
        </div>
        <a href="{% url 'create-streaming' %}"><button type="button" class="navbar-right btn btn-primary navbar-btn">Crear Streaming</button></a>
        {% if request.user.is_authenticated %}
        <p class="navbar-text navbar-right">
        Logged in as {{ request.user }}
        /
        <a href="{% url 'logout' %}">Logout</a>
        </p>
        {% endif %}
    </div>
</nav>

{% for message in messages %}
    {% if message.level_tag == "info" %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
    {% elif message.level_tag == "success" %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% elif message.level_tag == "warning" %}
        <div class="alert alert-warning" role="alert">{{ message }}</div>
    {% elif message.level_tag == "error" %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endif %}
{% endfor %}

<div class="container">
    {% block content %}{% endblock %}
</div>

<br>
{% block footer %}
<footer class="footer-distributed">
	<div class="footer-left">
		<h3><span>Virtuososcode</span></h3>
		<p class="footer-links">
			<a href="https://virtuososcode.com">Home</a>
			·
			<a href="https://virtuososcode.com/team">El equipo</a>
			·
			<a href="https://virtuososcode.com/services">Servicios</a>
			·
			<a href="https://virtuososcode.com/vacantes">Vacantes</a>
		</p>
		<div class="footer-icons">
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-linkedin"></i></a>
			<a href="#"><i class="fa fa-github"></i></a>
		</div>
		<p class="footer-company-name">Virtuososcode &copy; 2016</p>
	</div>
	<div class="footer-center">
		<div>
			<i class="fa fa-map-marker"></i>
			<p><span>Calle Revolución #21 Col. Americana</span> Guadalajara, Jalisco</p>
		</div>
		<div>
			<i class="fa fa-phone"></i>
			<p>+521 3319441828</p>
		</div>
		<div>
			<i class="fa fa-envelope"></i>
			<p><a href="mailto:hola@virtuososcode.com">hola@virtuososcode.com</a></p>
		</div>
	</div>
	<div class="footer-right">
		<p class="footer-company-about">
			<span>Acerca de nosotros</span>
			Virtuososcode, somos un grupo de desarolladores <strong>fullstack</strong>, proporcionamos a nuestros clientes soluciones profesionales
			en aplicaciones y portales web usamos tecnologías estables y de alto rendimiento como Angular, ES6, NodeJS, Django, Ruby on Rails y Bootstrap.
		</p>
	</div>
</footer>
{% endblock %}

{% block scripts %}{% endblock %}

</body>
</html>