{% extends "base.html" %}
{% load staticfiles %}
{% block header %}
    <link href="{% static 'css/datetimepicker.css' %}" type="text/css" media="all" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="panel panel-primary">
    <div class="panel-heading">Crea tu Streaming</div>
    <div class="panel-body">
        <form method="post" action="{% url 'create-streaming' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table">
                {{ form }}
            </table>
            {% if request.user.is_authenticated %}
            <input type="submit" value="Crear Streaming" class='btn btn-primary'>
            {% else %}
            <a href="{% url 'login' %}"><button type="button" class="btn btn-primary">Crear Streaming</button></a>
            {% endif %}
        </form>
    </div>
    </div>
    <p>Este servicio es gratuito y se entrega sin garantía ni soporte alguno con excepción de los otorgados por la ley, al usar este servicio aceptas los términos y condiciones de uso.
        Si tienes alguna duda puedes escribir a <a href="mailto:hola@virtuososcode.com">hola@virtuososcode.com</a> o ingresar a nuestro canal de <a href="https://virtuososcode.slack.com/messages/general/">Slack</a></p>
{% endblock %}