{% extends "base.html" %}
{% load staticfiles %}
{% block header %}
  <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
https://chrome.google.com/webstore/detail/janus-webrtc-screensharin/hapfgfdkleiggjjpfpenajgdnfckjpaj
{% block content %}
<div class="page-header">
    <h1 class="logo-header logo">Comparto<span>Skill</span></h1><br>
    <h5>Servicio gratuito de streaming para meetups. Si te interesa saber como funciona tecnicamente nuestro streaming <a href="#">aquí</a> lo explicamos,
     si lo prefieres puedes ver nuestro repo en <a href="https://github.com/Brunux/vc-streaming-app">GitHub</a></h5>
    </div>
    <div class="row well">
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Felicidades!</strong> tu streaming ha sido agredado correctamente y un Email ha sido enviado a <strong>{{ request.user.email }}</strong> con la siguiente información,
         si lo deseas puedes enviar el streaming a otras personas, solo completa el campo de <strong>Enviar a</strong> con una dirección de email validad.
    </div>
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Recuerda</strong> para poder ser anfitrion de un Streaming necesitas <strong>Google <a href="https://www.google.com/chrome/">Chrome </a>v34 o superior</strong>
         Y la <a href="https://chrome.google.com/webstore/detail/janus-webrtc-screensharin/hapfgfdkleiggjjpfpenajgdnfckjpaj">extensión</a> para compartir tu pantalla.
    </div>
      <div class="col-md-6">
        <div class="form-horizontal">
          <div class="form-group">
            <label for="inputStreamingId" class="col-sm-4 control-label">Streaming ID </label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="inputStreamingId" placeholder="{{ request.session.uuid }}" readonly>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail" class="col-sm-4 control-label">Titulo</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="inputStreamingTitle" placeholder="{{ request.session.title }}" readonly>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail" class="col-sm-4 control-label">Fecha</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="inputStreamingDate_init" placeholder="{{ request.session.init_date }}" readonly>
            </div>
          </div>
          <div class="form-group">
            <label for="inputName" class="col-sm-4 control-label">Hora de Inicio</label>
            <div class="col-sm-8">
              <input  type="text" class="form-control" id="inputStreamingTime_init" placeholder="{{ request.session.init_time }}" readonly>
            </div>
          </div>
          <div class="form-group">
            <label for="inputName" class="col-sm-4 control-label">Enviar a</label>
            <div class="col-sm-8">
              <input  type="email" class="form-control" id="inputStreamingEmail" data-id="invite-email" placeholder="juan.perez@virtuososcode.com" data-toggle="popover" data-trigger="focus" title="Validación" data-content="Lo sentimos, email no valido">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
              <button class="btn btn-success" id="send-email-btn">Enviar email</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h1 class="logo-header">Ads Here!</h1p>
      </div>
    </div><br>
    <p>Este servicio es gratuito y se entrega sin garantía ni soporte alguno con excepción de los otorgados por la ley, al usar este servicio aceptas los términos y condiciones de uso.
        Si tienes alguna duda puedes escribir a <a href="mailto:hola@compartoskill.com">hola@compartoskill.com</a> o ingresar a nuestro canal de <a href="https://virtuososcode.slack.com/messages/general/">Slack</a></p>

<!-- Modal -->
<div class="modal fade" id="modal-success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="alert alert-success" role="alert">
          <strong>Muy bien!</strong> se han enviado correctamente los datos del streaming a <strong id="email-to"></strong>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerra</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-error" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">
          <strong>Lo sentimos,</strong> la dirección de email <strong id="email-to-error"></strong> no es valida.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}