{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h1 class="logo-header logo"><span>Virtuososcode</span> Streaming App</h1><br>
    <h5>Servicio gratuito de streaming para meetups. Si te interesa saber como funciona tecnicamente nuestro streaming <a href="#">aquí</a> lo explicamos,
     si lo prefieres puedes ver nuestro repo en <a href="https://github.com/Brunux/vc-streaming-app">GitHub</a></h5>
    </div>
    <div class="row well">
      <div class="col-md-6">
        <form class="form-horizontal" method="post" action="{% url 'streaming' %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="inputStreamingId" class="col-sm-4 control-label">Streaming ID </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="inputStreamingId" placeholder="ef9da1cb-4d42-49ed-bbc4-4419b309fd9e">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail" class="col-sm-4 control-label">Tu Email </label>
          <div class="col-sm-8">
            <input type="email" class="form-control" id="inputEmail" placeholder="juan.perez@virtuososcode.com ">
          </div>
        </div>
        <div class="form-group">
          <label for="inputName" class="col-sm-4 control-label">Tu nombre </label>
          <div class="col-sm-8">
            <input  type="text" class="form-control" id="inputName" placeholder="Juanito Perez">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
            <button type="submit" class="btn btn-info">Ir a Streaming</button>
          </div>
        </div>
        </form>
      </div>
      <div class="col-md-6">
        <h1 class="logo-header">Ads Here!</h1p>
      </div>
    </div><br>
     <h2 class="logo-header">Streamings del día...</h2><br>
    <div class="row">
      {% if streaming %}
        <div class="panel panel-info col-md-4 paggind-off">
          <div class="panel-heading"><strong>{{ streaming.title }}</strong><p>por <span class="label label-default">{{ streaming.user }}</span></p></div>
            <div class="panel-body">
              <img src="{{ streaming.image.url }}" class="img-fixed center-block"></img>
            </div>
          <div class="panel-footer"><p> Inicia: <strong>{{ streaming.init_time }}</strong></p> <a href="/{{ streaming.uuid }}/" class="btn btn-info" role="button">Ingresar</a></div>
        </div>
      {% elif streamings %}
        {% for streaming in streamings %}
          <div class="panel panel-info col-md-4 paggind-off">
            <div class="panel-heading"><strong>{{ streaming.title }}</strong><p>por <span class="label label-default">{{ streaming.user.email }}</span></p></div>
            <div class="panel-body">
              <img src="{{ streaming.image.url }}" class="img-fixed center-block"></img>
            </div>
            <div class="panel-footer"><p> Inicia: <strong>{{ streaming.init_time }}</strong></p> <a href="/{{ streaming.uuid }}/" class="btn btn-info" role="button">Ingresar</a></div>
          </div>
          {% if forloop.counter|divisibleby:3 %}
           </div><div class="row">
          {% endif %}
        {% endfor %}
      {% else %}
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Lo sentimos,</strong> no hay streamings publicos el día de hoy.
        </div>
      {% endif %}
       </div>
    <p>Este servicio es gratuito y se entrega sin garantía ni soporte alguno con excepción de los otorgados por la ley, al usar este servicio aceptas los términos y condiciones de uso.
        Si tienes alguna duda puedes escribir a <a href="mailto:hola@virtuososcode.com">hola@virtuososcode.com</a> o ingresar a nuestro canal de <a href="https://virtuososcode.slack.com/messages/general/">Slack</a></p>
{% endblock %}