{% extends "base.html" %}

{% block content %}
<h1>VirtuososCode Streaming</h1>
<p>Hi! looking to perform a streaming?</p>
<p>We are here to help!</p>
<h2>Some time ago..</h2>
<p>I was trying to get up a running some streaming for my meetup group <a href="#">DevOps </a>with no real success
I try diferent kind of free streaming at the server side then I realize the best way to do it was at the client side meet <a href="#">WebRTC</a></p>
<h2>WebRTC</h2>
<h3>Real-time communication without plugins</h3>
<p>WebRTC is an open framework for the web that enables Real Time Communications in the browser. It includes the fundamental 
  building blocks for high-quality communications on the web, such as network, audio and video components used in voice and video chat applications. 
  WebRTC is used in various apps like WhatsApp, Facebook Messenger, appear.in and platforms such as TokBox</p>
<h3>So how it works?</h3>
<p>blah..</p>
{% endblock %}