{% extends "base.html" %}

{% block content %}
<h1 class="logo-header">Live Video Streaming...</h1>
<div class="row">
  <div class="panel panel-success col-md-8 paggind-off">
    <div class="panel-heading">{{ streaming.title }} por <span class="label label-success"><big> {{streaming.user_email}} </big></span></div>
    <div class="panel-body">
      <div class="embed-responsive embed-responsive-16by9">
        video
      </div>
    </div>
    <p class="well margin-off"><strong>Descripción del streaming: </strong>{{ streaming.info }}</p>
  </div>
  <div class="panel panel-info col-md-3 paggind-off pull-right">
    <div class="panel-heading">Usuarios online <span class="badge">42</span></div>
    <div class="panel-body">
      <div class="embed-responsive embed-responsive-4by3">
        Panel content
      </div>
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="container-fluid">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Preguntas?">
            <span class="input-group-btn">
              <button class="btn btn-info" type="button">Enviar</button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div>
    </div>
  </div>
</div>
<p>Este servicio es gratuito y se entrega sin garantía ni soporte alguno con excepción de los otorgados por la ley, al usar este servicio aceptas los términos y condiciones de uso.
  Si tienes alguna duda puedes escribir a <a href="mailto:hola@virtuososcode.com">hola@virtuososcode.com</a> o ingresar a nuestro canal de <a href="https://virtuososcode.slack.com/messages/general/">Slack</a></p>
{% endblock %}
