{% extends "base.html" %}
{% load staticfiles %}
{% block header %}
  <script src="{% static 'js/janus.js' %}" ></script>
  <script src="{% static 'js/adapter.js' %}" ></script>
  <script src="{% static 'js/chat.js' %}"></script>
{% endblock %}

{% block content %}
<h1 class="logo-header" id="header-data" uuid="{{ streaming.uuid }}" client="{{request.user}}">Live Video Streaming...</h1><br>
<div class="row">
  <div class="panel panel-info paggind-off">
    <div class="panel-heading">{{ streaming.title }} </div>
    <div class="panel-body">
      <div class="alert alert-warning alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <strong>Info: </strong>{{ streaming.info }}
      </div>
      <div class="embed-responsive embed-responsive-16by9">
        video
      </div>
    </div>
  <div class="panel-footer">Anfitrion: <a href="mailto:{{streaming.user.email}}">{{streaming.user}}</a><span class="badge pull-right">42 online</span></div>
    <div class="panel-body relative" style="overflow-x: auto;" id="chatroom">
      <div>chat...</div>
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="container-fluid">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Preguntas?" id="datasend" onkeypress="return checkEnter(this, event);">
            <span class="input-group-btn">
              <!-- Button trigger modal -->
              <button class="btn btn-info" type="button" onclick="sendData();">Enviar</button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div>
    </div>
  </div>
</div><br>
<p>Este servicio es gratuito y se entrega sin garantía ni soporte alguno con excepción de los otorgados por la ley, al usar este servicio aceptas los términos y condiciones de uso.
  Si tienes alguna duda puedes escribir a <a href="mailto:hola@compartoskill.com">hola@compartoskill.com</a> o ingresar a nuestro canal de <a href="https://virtuososcode.slack.com/messages/general/">Slack</a></p>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Info usuario</h4>
      </div>
      <div class="modal-body">
        <form class="form-inline">
          <div class="form-group">
            <label for="exampleInputName2">Nombre</label>
            <input type="text" class="form-control" id="exampleInputName2" placeholder="Juanito Perez">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail2">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="juan.perez@virtuososcode...">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerar</button>
        <button type="submit" class="btn btn-primary">Chat!</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
